
@font-face {
    font-family: 'rippleregular';
    src: url('webfonts/ripple-regular-webfont.woff2') format('woff2'),
         url('webfonts/ripple-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}