$color:hsla(60%,100%,80%, .5);
$color-light:lighten($color,10%);
$width:100%;
$width-cols:100%/3;



//---------------------------------------------------------------------


body {
	// d'abord taille puis visuel
	font-family: 'arial', sans-serif;
	background: $color-light;

	.promo {
		display: flex;
		justify-content: space-around;

		@media screen and (min-width:600px) {
			
		}
		
		flex-wrap: wrap;
	}

	.promo section {
		width: 100%;
		@media screen and (min-width:600px) {
			width: 20%;
		}
	}

	.promo section:nth-of-type(2) {
		background: lightblue;
		width : 50%;
		padding: 30px;


	}


	

}

